@font-face {
  font-family: "Maxi";
  src: url(assets/maxi.ttf) format("truetype");
}

body {
  background-color: #c5ff29;
  font-family: "Maxi";
  font-feature-settings: "tnum" on, "lnum" on, "ss02" on, "ss01" on;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 19vw;
  line-height: 85%;
}

h2 {
  text-transform: uppercase;
  font-size: 5vw;
  line-height: 120%;
}

h3 {
  color: red;
  text-transform: uppercase;
}

#spinners > * {
  width: 150px;
  height: 150px;
  animation: spin 10s linear 0s infinite;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

#spinners #spinner1 {
  background-image: url(assets/spinner1.png);
  top: 2px;
  left: 2px;
}

#spinners #spinner2 {
  background-image: url(assets/spinner2.png);
  top: 2px;
  right: 2px;
}

#spinners #spinner3 {
  background-image: url(assets/spinner3.png);
  bottom: 2px;
  left: 2px;
}

#spinners #spinner4 {
  background-image: url(assets/spinner4.png);
  bottom: 2px;
  right: 2px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
